{% extends 'base.html.twig' %}

{% block title %}Evaluations index{% endblock %}

{% block body %}
    <h1>Evaluations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.comment }}</td>
                <td>{{ evaluation.note }}</td>
                <td>
                    <a href="{{ path('app_evaluations_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('app_evaluations_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evaluations_new') }}">Create new</a>
{% endblock %}
